@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    display: flex;
    justify-content: center;
    margin: 15px;
    font-size: 42px;
    color: #0056b3;
}
h3 {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    left:-12px;
    margin-top: 6px;
    margin-right: 10px;
}
/* /////////////////////////////////// */
.start {
    display: flex;
    margin-left: 440px;
    margin-top: 10px;
}

.startGame {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: -30px;
    border: 2px solid;
    border-radius: 6px;
    margin:0px 0px 0px 10px;
    background-color: #fafafa;
    cursor: pointer;
}
.startGame:hover {
    background-color: #0056b3;  
    transition: 0.2s ease-in-out;
    transform: scale(1.02);
}
.hidden {
    display: "none";
}
#pause {
    cursor: pointer;
    margin-top: 8px;
    border-radius: 6px;
    border-style: solid;
    width: 30px;
    height: 30px;
}
#pause:hover {
    background-color: #0056b3;
    transition: 2s;
    transform: scale(1.16);
}
#play {
    display: none;
    cursor: pointer;
    margin-top: 8px;
    font-size: 18px;
    border-radius: 6px;
    border-style: solid;
    width: 30px;
    height: 30px;
}
#play:hover {
    background-color: #0056b3;
    transition: 2s;
    transform: scale(1.16);
}



.container {
    display: grid;
    grid-template-columns: repeat(3,150px);
    grid-template-rows: repeat(3,150px);
    box-shadow: 7px 7px 18px rgb(115, 114, 114);
    border: 2px solid darkblue;
    margin-left: 470px;
    margin-top: 10px;
    height: 455px;
    width: 455px;
}
.square1, .square2, .square3, .square4, .square5, .square6, .square7, .square8, .square9 {
    display: grid;
    grid-template-columns: repeat(3,47.5px);
    grid-template-rows: repeat(3,47.5px);
    border: 2px solid darkblue;
    width: 151px;
    height: 151px;
    border: collapse;
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding: 13px;
    border: 1px solid rgb(197, 197, 203);
    width: 50px;
    height: 50px;
    text-align:center;
    font-style:bold;
    font-size:16px;
    cursor: pointer;
    box-shadow:2px 2px 2px gray ;
}
.square:hover{
    background-color: #0056b3;
    transition: 0.1s ease-in;
    transform: scale(1.05);
}
/* .square p {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding: 13px;
} */

.container2 {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   margin-left: 470px;
   height: 30px;
   width: 450px;
   margin-bottom: 20px;
   margin-left: 478px
}
.numbers {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 0px;
    background-color: #FFFFFF;
}
.numbers button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 18px;
    border-radius: 6px;
    border: 2px solid;
}
.numbers button:hover{
    background-color: #0056b3;
    transform: scale(1.1);
    font-size: 22px;
}


/* body { */
    /* background-color: #d60f0f;  /* Set the page background color */
    /* margin: 0;                  Ensure no margin */
/* } */

#game-over-screen{
    display: none;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    width: 300px;
    height: 200px;
    margin: 200px 0 0 550px;
    padding: 60px 80px;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 10px 10px 10px grey;
}
#game-over-screen h2{
    position: absolute;
    top: 31%;
    left: 610px;
    color: #0056b3;
    font-size: 35px;
}
#game-over-screen h4 {
    position: absolute;
    top: 40%;
    left: 625px;
    font-size: 20px;
    font-weight: 500;
}
#game-over-screen button {
    position: absolute;
    top: 46.5%;
    left: 629.5px;
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    font-weight: 600;
    cursor: pointer;
}
#game-over-screen button:hover {
    background-color: #126bcb;
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
}



#game-win-screen  {
    display: none;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    margin: 200px 0 0 550px;
    padding: 60px 80px;
    background-color: #fafafa;
    box-shadow: 10px 10px 10px grey;
}
#game-win-screen h2 {
    position: absolute;
    top: 31%;
    left: 610px;
    font-size: 35px;
    color: #0056b3;
}
#game-win-screen button {
    position: absolute;
    top: 43.5%;
    left: 644px;
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}
#game-win-screen button:hover {
    background-color: #126bcb;
    transition: 0.1s ease-in-out;
    transform:scale(1.1)
}